<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="cdeed3c2-70a9-4df8-86b3-2eda8e51a49a"
    Version="1.0.0.0"
    Publisher="CN=najam" />

  <Properties>
    <DisplayName>IslamBoxLite</DisplayName>
    <Description>IslamBoxLite</Description>
    <PublisherDisplayName>najam</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="IslamBoxLite"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="IslamBoxLite"
        ForegroundText="light"
        BackgroundColor="#000000">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
